.navbar {
    background-color: #0ead69;
    font-family: 'Mija';
    height: 15%;
}

@media (min-width: 1400px) {
  .searchbar {
    width: 15%;
  }
}

.nav-item {
  font-size: 20px;
}

.list-group {
  white-space: nowrap;
  overflow-x: hidden;
}

.list-group-item {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  border: 0px;
  background-color: #2cbe7f60;
  height: 2.5em;
}

.categorie {
  font-size: 12px;
  color: grey;
  font-weight: bold;
}

.articleimg {
  width: 15em;
  max-width: 12em;
  height: auto;
  max-height: 10em;
  border-radius: 25px;
}

.title {
  font-size: 27px;
  font-weight: 900;
  font-family: 'Heebo', sans-serif;
}

.text-article {
  font-size: 1vw;
  font-family: 'Open Sans', sans-serif;
}